@font-face {
	font-family: 'Candara';
	src: url('/css/Candara.woff2') format('woff2');
}

:root { --pico-font-family: Candara; }

@media only screen and (min-width: 1024px) {.hide-large {display: none;}}
@media only screen and (max-width: 1023px) {.hide-small {display: none;}}

html { background-color: #3B4762;}

nav {
	padding: 0 var(--pico-nav-element-spacing-horizontal);
	background-color: #2b3449;
}

nav li { padding: 0 var(--pico-nav-element-spacing-horizontal); }

button { 
	padding: 0.5rem;
	margin-bottom: var(--pico-spacing);
}

[role=button] {
	padding: 0.5rem;
	margin-bottom: var(--pico-spacing);
	cursor: pointer;
}

code-input pre { height: max-content !important; }

figcaption { --pico-muted-color: var(--pico-color); }
tr img { cursor: pointer; }
th { padding: 0.3rem; white-space: nowrap; }
td { padding: 0.3rem; white-space: pre; }
#md { color: var(--pico-color); }
.ehide:empty { display: none; }
.mb { margin-bottom: var(--pico-spacing); }
.mr { margin-right: var(--pico-spacing); }

.flex {
	display: flex;
	white-space: nowrap;
	align-items: center;
	gap: 0.5rem;
}

.flex-input {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.flex-input > label {
	flex-grow: 1;
}

.gradient {
	display: inline-block;
	background: linear-gradient(to right, teal, purple);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.masonry {
	display: grid;
	grid-gap: 1rem 1rem;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: masonry;
	masonry-auto-flow: next;
}

.message {
	font-weight: bold;
	background-color: black;
	display: block;
	padding: 0.5rem;
	position: fixed;
	top: 3.5rem;
	right: 4rem;
	z-index: 99;
}

.scroller {
	border-radius: 50%;
	padding: 0.5rem;
	display: none;
	position: fixed;
	top: 3rem;
	right: 1rem;
	z-index: 98;
}

.twocolumn {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 0;
}

/* PicoCSS Copy Dropdown */
details.dropdown summary:not([role=button]) {
	--pico-outline-width: 0.0625rem;
}
nav details.dropdown summary:focus-visible {
	--pico-outline-width: 0.125rem;
}
details.dropdown {
	position: relative;
	border-bottom: none;
}
details.dropdown summary::after,
details.dropdown > button::after,
details.dropdown > a::after {
	display: block;
	width: 1rem;
	height: calc(1rem * var(--pico-line-height, 1.5));
	margin-inline-start: 0.25rem;
	float: right;
	transform: rotate(0deg) translateX(0.2rem);
	background-image: var(--pico-icon-chevron);
	background-position: right center;
	background-size: 1rem auto;
	background-repeat: no-repeat;
	content: "";
}
nav details.dropdown {
	margin-bottom: 0;
}
details.dropdown summary:not([role]) {
	height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2);
	padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
	border: var(--pico-border-width) solid var(--pico-form-element-border-color);
	border-radius: var(--pico-border-radius);
	background-color: var(--pico-form-element-background-color);
	color: var(--pico-form-element-placeholder-color);
	line-height: inherit;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: background-color var(--pico-transition), border-color var(--pico-transition), color var(--pico-transition), box-shadow var(--pico-transition);
}
details.dropdown summary:not([role]):active, details.dropdown summary:not([role]):focus {
	border-color: var(--pico-form-element-active-border-color);
	background-color: var(--pico-form-element-active-background-color);
}
details.dropdown summary:not([role]):focus {
	box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-focus-color);
}
details.dropdown summary:not([role]):focus-visible {
	outline: none;
}
details.dropdown summary:not([role])[aria-invalid=false] {
	--pico-form-element-border-color: var(--pico-form-element-valid-border-color);
	--pico-form-element-active-border-color: var(--pico-form-element-valid-focus-color);
	--pico-form-element-focus-color: var(--pico-form-element-valid-focus-color);
  }
details.dropdown summary:not([role])[aria-invalid=true] {
	--pico-form-element-border-color: var(--pico-form-element-invalid-border-color);
	--pico-form-element-active-border-color: var(--pico-form-element-invalid-focus-color);
	--pico-form-element-focus-color: var(--pico-form-element-invalid-focus-color);
}
nav details.dropdown {
	display: inline;
	margin: calc(var(--pico-nav-element-spacing-vertical) * -1) 0;
}
nav details.dropdown summary::after {
	transform: rotate(0deg) translateX(0rem);
}
nav details.dropdown summary:not([role]) {
	height: calc(1rem * var(--pico-line-height) + var(--pico-nav-link-spacing-vertical) * 2);
	padding: calc(var(--pico-nav-link-spacing-vertical) - var(--pico-border-width) * 2) var(--pico-nav-link-spacing-horizontal);
}
nav details.dropdown summary:not([role]):focus-visible {
	box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
}
details.dropdown summary + ul {
	display: flex;
	z-index: 99;
	position: absolute;
	left: 0;
	flex-direction: column;
	width: 100%;
	min-width: -moz-fit-content;
	min-width: fit-content;
	margin: 0;
	margin-top: var(--pico-outline-width);
	padding: 0;
	border: var(--pico-border-width) solid #202632;
	border-radius: var(--pico-border-radius);
	background-color: #181c25;
	box-shadow: var(--pico-box-shadow);
	color: var(--pico-color);
	white-space: nowrap;
	opacity: 0;
	transition: opacity var(--pico-transition), transform 0s ease-in-out 1s;
}
details.dropdown summary + ul[dir=rtl] {
	right: 0;
	left: auto;
}
details.dropdown summary + ul li {
	width: 100%;
	margin-bottom: 0;
	padding: calc(var(--pico-form-element-spacing-vertical) * 0.5) var(--pico-form-element-spacing-horizontal);
	list-style: none;
}
details.dropdown summary + ul li:first-of-type {
	margin-top: calc(var(--pico-form-element-spacing-vertical) * 0.5);
}
details.dropdown summary + ul li:last-of-type {
	margin-bottom: calc(var(--pico-form-element-spacing-vertical) * 0.5);
}
details.dropdown summary + ul li a {
	display: block;
	margin: calc(var(--pico-form-element-spacing-vertical) * -0.5) calc(var(--pico-form-element-spacing-horizontal) * -1);
	padding: calc(var(--pico-form-element-spacing-vertical) * 0.5) var(--pico-form-element-spacing-horizontal);
	overflow: hidden;
	border-radius: 0;
	color: var(--pico-color);
	text-decoration: none;
	text-overflow: ellipsis;
}
details.dropdown summary + ul li a:hover, details.dropdown summary + ul li a:focus, details.dropdown summary + ul li a:active, details.dropdown summary + ul li a:focus-visible, details.dropdown summary + ul li a[aria-current]:not([aria-current=false]) {
	background-color: #202632;
}
details.dropdown summary + ul li label {
	width: 100%;
}
details.dropdown summary + ul li:has(label):hover {
	background-color: #202632;
}
details.dropdown[open] summary {
	margin-bottom: 0;
}
details.dropdown[open] summary + ul {
	transform: scaleY(1);
	opacity: 1;
	transition: opacity var(--pico-transition), transform 0s ease-in-out 0s;
}
details.dropdown[open] summary::before {
	display: block;
	z-index: 1;
	position: fixed;
	width: 100vw;
	height: 100vh;
	inset: 0;
	background: none;
	content: "";
	cursor: default;
}
label > details.dropdown {
	margin-top: calc(var(--pico-spacing) * 0.25);
}
