<div class="flex">
	<h2 class="pico-color-orange-500">ADMIN PANEL</h2>
	<a role="button" href="/admin/settings" class="pico-background-red-600"><img src="/icon/settings.svg"> Settings</a>
	<a role="button" href="/admin/sql" class="pico-background-red-600"><img src="/icon/database.svg"> SQLite</a>
</div>

<article style="overflow: auto;">
<div class="flex">
	<h3>MARKDOWNS</h3>
	<a role="button" href="/admin/md"><img src="/icon/plus-circle.svg" alt="new"></a>
</div>
<div class="flex">
	<input type="search" placeholder="Search" autocomplete="off">
	<script>me('-').on('input', e=>{searchTable(me('#tmarkdown'), me(e).value)})</script>
	<h6 id="mtotals"></h6>
</div>
<table id="tmarkdown" hx-get="/admin" hx-trigger="tmarkdown from:body" hx-select="#tmarkdown" hx-swap="outerHTML" hx-on::after-request="mtotals()">
	<tr>
		<th>&nbsp;</th>
		<th>Title ►<script>me().on('click', e=>{sortTable(me(e))})</script></th>
		<th>Date ►<script>me().on('click', e=>{sortTable(me(e))})</script></th>
	</tr>
	{{range .markdowns}}
	<tr>
		<td style="white-space: wrap;">
		<img src="/icon/clipboard.svg" alt="clipboard" width="30" height="30" style="margin: 0.2rem;">
			<script>
				me('-').on('click', async e=>{
					navigator.clipboard.writeText('/p/{{.Title}}')
					const img = me(e)
					img.src = '/icon/check-circle.svg'
					await sleep(1500)
					img.src = '/icon/clipboard.svg'
				})
			</script>
		</img>
		<template>
			<div role="button" class="pico-background-green-700" draggable="true">{{.Title}}
				<script>me().on('dblclick', e=>{me(e).remove()})</script>
				<input type="hidden" name="NavMenu" value="{{.Title}}"/>
			</div>
		</template>
		<img src="/icon/navigation-2.svg" alt="move" width="30" height="30" style="margin: 0.2rem;">
		<script>
			me('-').on('click', async e=>{
				const img = me(e)
				me('#nav').appendChild(img.previousElementSibling.content.cloneNode(true))
				img.src = '/icon/check-circle.svg'
				await sleep(1500)
				img.src = '/icon/navigation-2.svg'
			})
		</script>
		<img hx-delete="/admin?title={{.Title}}" hx-confirm="Delete {{.Title}}?" hx-target="closest tr" src="/icon/delete.svg" alt="delete" width="30" height="30" style="transform: scaleX(-1); margin: 0.2rem;">
		</td>
		<td><a href="/admin/md/{{.Title}}" hx-trigger="consume">{{.Title}}</a></td>
		<td>{{.Date}}<script>me().innerText = (new Date(me().innerText*1000)).toLocaleString('sv-SE')</script></td>
	</tr>
	{{end}}
	<script>mtotals()</script>
</table>
</article>

<article style="overflow: auto;">
<form id="content" hx-post="/admin" hx-target="#success" enctype="multipart/form-data" hx-on::after-request="me('#files').value = ''; me('#bupload').attribute('disabled', true)">
	<div class="flex">
		<h3>ASSETS</h3>
		<button id="bupload" disabled><img src="/icon/upload.svg" alt="upload" width="30" height="30"></button>
		<input id="files" type="file" name="files" multiple>
		<script>me('-').on('change', e=>{me('#bupload').attribute('disabled', null)})</script>
	</div>
</form>
<div class="flex">
	<input type="search" placeholder="Search" autocomplete="off">
	<script>me('-').on('input', e=>{searchTable(me('#tcontent'), me(e).value)})</script>
	<h6 id="ctotals"></h6>
</div>
<table id="tcontent" hx-get="/admin" hx-trigger="tcontent from:body" hx-select="#tcontent" hx-swap="outerHTML" hx-on::after-request="ctotals()">
	<tr>
		<th>&nbsp;</th>
		<th>File ►<script>me().on('click', e=>{sortTable(me(e))})</script></th>
		<th>Title ►<script>me().on('click', e=>{sortTable(me(e))})</script></th>
		<th>Description ►<script>me().on('click', e=>{sortTable(me(e))})</script></th>
		<th>Type ►<script>me().on('click', e=>{sortTable(me(e))})</script></th>
		<th>MB ►<script>me().on('click', e=>{sortTable(me(e))})</script></th>
		<th>Date ►<script>me().on('click', e=>{sortTable(me(e))})</script></th>
	</tr>
	{{range $i, $_ := .contents}}
	<tr id="{{.File}}">
		<td style="white-space: wrap;">
			<img src="/icon/clipboard.svg" alt="clipboard" width="30" height="30" style="margin: 0.2rem;">
			<script>
				me('-').on('click', async e=>{
					navigator.clipboard.writeText('/content/'+me(e).parentElement.parentElement.id)
					const img = me(e)
					img.src = '/icon/check-circle.svg'
					await sleep(1500)
					img.src = '/icon/clipboard.svg'
				})
			</script>
			<a href="/content/{{.File}}" hx-trigger="consume" target="_blank" rel="noopener noreferrer"><img src="/icon/image.svg" alt="image" width="30" height="30" style="margin: 0.2rem;"></a>
			<img src="/icon/edit.svg" alt="edit" width="30" height="30" style="margin: 0.2rem;">
			<script>
				me('-').on('click', async e=>{
					const img = me(e)
					const row = img.parentElement.parentElement
					const File = row.cells[1].innerText
					const Title = row.cells[2].innerText
					const Description = row.cells[3].innerText
					img.src = '/icon/check-circle.svg'
					htmx.ajax('PUT', '/admin?source='+row.id, {target: '#success', values: {File, Title, Description}}).then(_=>{
						if (me('#success').innerText === '') return
						row.id = File
						row.cells[0].firstElementChild.href = '/content/'+File
						const del = row.cells[0].lastElementChild
						del.setAttribute('hx-delete', '/admin?file='+File)
						del.setAttribute('hx-confirm', 'Delete '+File+'?')
						htmx.process(del)
					})
					await sleep(1500)
					img.src = '/icon/edit.svg'
			})
			</script>
			<img hx-delete="/admin?file={{.File}}" hx-confirm="Delete {{.File}}?" hx-target="closest tr" src="/icon/delete.svg" alt="delete" width="30" height="30" style="transform: scaleX(-1); margin: 0.2rem;">
		</td>
		<td contenteditable spellcheck="false" style="border: 1px dashed">{{.File}}</td>
		<script>me('-').on('blur', e=>{me(e).innerText = me(e).innerText.replace(/[^0-9a-zA-Z-()._]/g, '-')})</script>
		<td contenteditable style="border: 1px dashed">{{.Title}}</td>
		<td contenteditable style="border: 1px dashed">{{.Description}}</td>
		<td>{{.Type}}</td>
		<td>{{.Size}}<script>me().innerText = (me().innerText / 1000000).toFixed(3)</script></td>
		<td>{{.Date}}<script>me().innerText = (new Date(me().innerText*1000)).toLocaleString('sv-SE')</script></td>
	</tr>
	{{end}}
	<script>ctotals()</script>
</table>
</article>