<article>
{{if ne .markdown.Title "INDEX"}}<h2 class="gradient">{{.markdown.Title}}</h2>{{end}}
{{unescape .markdown.Html}}
<footer class="masonry">
{{range .contents}}
<figure>
	<figcaption style="font-weight: bold;">{{.Title}}</figcaption>
	<a a href="/content/{{.File}}" hx-trigger="consume" target="_blank" rel="noopener noreferrer">
		<img src="/content/{{.File}}" alt="{{.File}}">
	</a>
	<figcaption>{{.Description}}</figcaption>
</figure>
{{end}}
</footer>
</article>