<script>me("main").style = ""</script>
<dialog id="cheatsheet">
	<script>me().on('click', e=>{if (e.target.contains(me('dialog'))) me(e).close()})</script>
<article>
	<header><h3>Syntax Cheatsheet</h3></header>
<h4>Phrase Emphasis</h4>

<pre><code>*italic*   **bold**</code></pre>

<h4>Links</h4>
<p>Inline:</p>

<pre><code>An [example](http://url.com/ "Title")
</code></pre>
<p>Reference-style labels (titles are optional):</p>
<pre><code>An [example][id]. Then, anywhere
else in the doc, define the link:

[id]: http://example.com/  "Title"
</code></pre>

<h4>Images</h4>
<p>Inline (titles are optional):</p>

<pre><code>![alt text](/path/img.jpg "Title")
</code></pre>

<p>Reference-style:</p>

<pre><code>![alt text][id]

[id]: /url/to/img.jpg "Title"
</code></pre>

<h4>Headers</h4>

<p>Setext-style:</p>

<pre><code>Header 1
========

Header 2
--------
</code></pre>

<p>atx-style (closing #'s are optional):</p>

<pre><code># Header 1 #

## Header 2 ##

###### Header 6
</code></pre>

<h4>Lists</h4>

<p>Ordered, without paragraphs:</p>

<pre><code>1.  Foo
2.  Bar
</code></pre>

<p>Unordered, with paragraphs:</p>

<pre><code>*   A list item.

    With multiple paragraphs.

*   Bar
</code></pre>

<p>You can nest them:</p>

<pre><code>*   Abacus
    * answer
*   Bubbles
    1.  bunk
    2.  bupkis
        * BELITTLER
    3. burper
*   Cunning
</code></pre>

<h4>Blockquotes</h4>

<pre><code>&gt; Email-style angle brackets
&gt; are used for blockquotes.

&gt; &gt; And, they can be nested.

&gt; #### Headers in blockquotes
&gt; 
&gt; * You can quote a list.
&gt; * Etc.
</code></pre>

<h4>Code Spans</h4>

<pre><code>`&lt;code&gt;` spans are delimited
by backticks.

You can include literal backticks
like `` `this` ``.
</code></pre>

<h4>Preformatted Code Blocks</h4>

<p>Indent every line of a code block by at least 4 spaces or 1 tab.</p>

<pre><code>This is a normal paragraph.

    This is a preformatted
    code block.
</code></pre>

<h4>Horizontal Rules</h4>

<p>Three or more dashes or asterisks:</p>

<pre><code>---

* * *

- - - - 
</code></pre>

<h4>Manual Line Breaks</h4>

<p>End a line with two or more spaces:</p>

<pre><code>Roses are red,   
Violets are blue.
</code></pre>
</article>
</dialog>

<article id="editor" class="twocolumn">
<div>
<div class="flex">
	<label class="mb mr"><b>TITLE: </b></label><input id="title" type="text" value="{{.markdown.Title}}" placeholder="NEW" tabindex="1" required>
	<button class="pico-background-blue-500" style="flex-shrink: 0;" tabindex="3">
		<script>me().on('click', _=>{me('#cheatsheet').showModal()})</script>
		<img src="/icon/info.svg" alt="Info">
	</button>
	<button style="flex-shrink: 0;" tabindex="4">
		<script>
			me().on('click', _=>{
				const Title = me('#title').value
				const Markdown = me('#md').innerText
				const Html = me('#render').innerHTML
				htmx.ajax('POST', '/admin/md', { target: '#success', values: {Title, Markdown, Html}})
			})
		</script>
		<img src="/icon/save.svg" alt="Save">
	</button>
</div>
<pre><code id="md" contenteditable spellcheck="false" style="white-space: pre-wrap;" tabindex="2">{{.markdown.Markdown}}</code></pre>
</div>
<script>me("#md").on('input', e=>{me('#render').innerHTML = marked.parse(me(e).innerText)})</script>
<div id="render">{{unescape .markdown.Html}}</div>
</article>