<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
	<title>{{.s.SiteTitle}}</title>
	<meta charset="utf-8">
	<meta name="description" content="{{.s.SiteDesc}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/js/htmx.min.js"></script>
	<script src="/js/surreal.js"></script>
	<script src="/js/marked.min.js"></script>
	<script src="/js/highlight.min.js"></script>
	<script src="/js/sql.min.js"></script>
	<script src="/js/code-input.min.js"></script>
	<script src="/js/auto-close-brackets.min.js"></script>
	<script src="/js/indent.min.js"></script>
	<script src="/js/sortable.min.js"></script>
	<script src="/js/common.js"></script>
	<link rel="icon" href="{{.s.SiteLogo}}">
	<link rel="stylesheet" href="/css/pico.fluid.classless.min.css">
	<link rel="stylesheet" href="/css/pico.colors.min.css">
	<link rel="stylesheet" href="/css/stackoverflow-dark.min.css">
	<link rel="stylesheet" href="/css/code-input.min.css">
	<link rel="stylesheet" href="/css/override.css">
</head>

<body hx-boost="true">
<pre id="error" class="pico-color-red-500 message ehide"></pre>
<pre id="success" class="pico-color-green-500 message ehide"></pre>
<button id="scroller" class="scroller"><img src="/icon/arrow-up.svg" alt="Top">
	<script>me().on('click', _=>{window.scrollTo({top: 0, behavior: 'smooth'})})</script>
</button>
<nav>
	<ul>
		<li><a href="/"><img src="{{.s.SiteLogo}}" alt="{{.s.SiteTitle}}" width="74" height="74"></a></li>
		<li class="hide-large">
			<details id="navmenu" class="dropdown">
				<summary><img src="/icon/menu.svg"></img></summary>
				<ul>
					<script>me().on('click', e=>{me('#navmenu').attribute('open', null)})</script>
					{{range .s.NavMenu}}
					<li>
						<a href="/p/{{.}}"><b>{{.}}</b></a>
					</li>
					{{end}}
				</ul>
			</details>
		</li>
		{{if HasPrefix .path "/admin"}}<a href="/admin" class="pico-color-orange-500"><b>ADMIN</b></a>{{end}}
	</ul>
	<ul>{{range .s.NavMenu}}<li class="hide-small"><a href="/p/{{.}}"><b>{{.}}</b></a></li>{{end}}</ul>
</nav>
<main style="max-width: 2400px;">{{embed}}</main>
</body>

</html>