{{range .}}
<article style="overflow: auto;">
<fieldset role="group">
	<button>CSV
		<script>me().on('mousedown', e=>{exportTable(me(e).parentElement.nextElementSibling, me(e).nextElementSibling.value)})</script>
	</button>
	<input type="text" placeholder="Sep" style="width: 4rem;" value="|">
	<label style="padding-left: 1rem;">Types<input type="checkbox" role="switch" checked>
		<script>me('-').on('change', e=>{showType(me(e).checked, me(e).parentElement.parentElement.nextElementSibling.rows[0])})</script>
	</label>
	<input type="search" placeholder="Search" autocomplete="off">
	<script>me('-').on('input', e=>{searchTable(me(e).parentElement.nextElementSibling)})</script>
</fieldset>
<table>
	{{range $index, $element := .}}
	<tr>
		{{range $element}}
		{{if $index}}
		<td>{{.}}</td>
		{{else}}
		<th>{{.}} ►<script>me().on('mousedown', e=>{sortTable(me(e))})</script></th>
		{{end}}
		{{end}}
	</tr>
	{{end}}
</table>
</article>
{{end}}