<article>
	<div class="flex">
		<h3 class="pico-color-red-600">SITE CONFIGURATION</h3>
		<button form="config"><img src="/icon/save.svg" alt="new"></button>
	</div>
	<form id="config" hx-post="/admin/settings" hx-target="#success" autocomplete="off">
		<div class="flex-input">
			<label>Title<input type="text" name="SiteTitle" value="{{.s.SiteTitle}}"></label>
			<label>Logo<input type="text" name="SiteLogo" value="{{.s.SiteLogo}}"></label>
		</div>
		<label>Description<input type="text" name="SiteDesc" value="{{.s.SiteDesc}}"></label>
		<label>Admin Key
			<div class="flex-input">
				<input type="text" name="AdminKey" value="{{.s.AdminKey}}">
				<button type="button"><img src="/icon/refresh-ccw.svg">
					<script>me().on('click', e=>{me(e).previousElementSibling.value = generateKey()})</script>
				</button>
			</div>
		</label>
		<label>Protected Key
			<div class="flex-input">
				<input type="text" name="ProtectedKey" value="{{.s.ProtectedKey}}">
				<button type="button"><img src="/icon/refresh-ccw.svg">
					<script>me().on('click', e=>{me(e).previousElementSibling.value = generateKey()})</script>
				</button>
			</div>
		</label>
		<div class="flex-input">
			<label>Body Limit (bytes)<input type="number" name="BodyLimit" value="{{.s.BodyLimit}}"></label>
			<label>Max Age (seconds)<input type="number" name="MaxAge" value="{{.s.MaxAge}}"></label>
			<label><input type="checkbox" role="switch" name="FiberPrefork" value="{{.s.FiberPrefork}}">Prefork</label>
		</div>
		<p><img src="/icon/info.svg" alt="Info"> Nav Menu Below: Double click to delete. Drag and drop to reorganize.</p>
		<div id="nav" class="flex">
			<script>new Sortable(me(), {animation: 150, ghostClass: 'sortable-ghost'})</script>
			{{range .s.NavMenu}}{{if .}}
			<div role="button" class="pico-background-green-700">{{.}}
				<script>me().on('dblclick', e=>{me(e).remove()})</script>
				<input type="hidden" name="NavMenu" value="{{.}}"/>
			</div>
			{{end}}{{end}}
		</div>
	</form>
</article>