<div class="flex">
	<h1 class="pico-color-red-600">SQLiteAdmin</h1>
	<button id="run">Run
		<script>me().on('click', _=>{htmx.ajax('POST', '/admin/sql', {target:'#output', values:{sql: me('#code').innerText}})})</script>
	</button>
	<button id="run">Clear
		<script>me().on('click', _=>{me('#code').value=''})</script>
	</button>
</div>
<code-input id="code" language="sql" placeholder="SQL COMMAND HERE" style="height: 50vh"></code-input>
<div id="output"></div>